html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #585c65;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.top-bar {
  height: 50px;
}

.main {
  min-height: 100vh;
  background-color: #585c65;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-content {
  max-width: 600px;

  background-color: #f0f0f0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.overlay[data-loading='true'] {
  opacity: 1;
  pointer-events: auto;
}
